  <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DariaHau</title>
<!-- FONTURI ICONITE-->
<link rel="stylesheet" href="./css/all.css">

<!--        Owl-Carousel      -->
<link rel="stylesheet" href="./css/owl.carousel.min.css">
<link rel="stylesheet" href="./css/owl.theme.default.min.css">
<!-- Design Style-->
    <link rel="stylesheet" href="./css/Style.css">

<!-- AOS library-->
<link rel="stylesheet" href="./css/aos.css">
    
    </head>
    <body>
     
    <!-- Navigare-->
   <nav class="nav">
     <div class="nav-menu flex-row">
       <div class="nav-brand">
         <a href="#" class="text-gray">Daria Hau</a>

       </div>
       <div class="toggle-collapse">
          <div class="toggle-icons">
        <i class="fas fa-bars"></i>
        </div>
       </div>

       <div >
         <ul class="nav-items">
           <li class="nav-link">
             <a href="#" >HOME</a>
           </li>
           <li class="nav-link">
             <a href="#" >Category</a>
           </li>
           <li class="nav-link">
             <a href="#" >Archive</a>
           </li>
           <li class="nav-link">
             <a href="#" >Pages</a>
           </li>
           <li class="nav-link">
             <a href="#" >Contac Us</a>
           </li>
         </ul>
       </div>
       <div class="social text-gray">
         <a hreg="#"><i class="fab fa-facebook"></i></a>
         <a hreg="#"><i class="fab fa-instagram-square"></i></a>
         <a hreg="#"><i class="fab fa-youtube"></i></a>
       </div>
     </div>
   </nav>

   <!--                   MAIN SITE               -->

   <main>

    <!-- SITE TITLE-->
<section class="site-title">
  <div  class="site-background" data-aos="fade-up" data-aos-delay="100">
    <h3>Daria Hau</h3>
    <h1>Discutii si plimbari pe Splaiul Independenței</h1>
    <button class="btn">Descopera</button>
  </div>
</section>


<!---BLOG CAROUSEL-->
<section>
  <div class="blog">
    <div class="container">
      <div class="owl-carousel owl-carousel owl-theme blog-post">
        <div class="blog-content">
          <img src="./assets/Blog-post/post-1.jpg" alt="post-1" >
          <div class="blog-title">
            <h3>Carti si Carti Ca citesti</h3>
            <button class="btn btn-blog">Books</button>
            <span>  2 minutes   
            </span>
          </div>
        </div>
        <div class="blog-content" >
          <img src="./assets/Blog-post/post-2.jpg" alt="post-4" >
          <div class="blog-title">
            <h3>Calatorit</h3>
            <button class="btn btn-blog">Calatorii</button>
            <span>  7 minutes   
            </span>
          </div>
        </div>
        <div class="blog-content">
          <img src="./assets/Blog-post/post-4.jpg" alt="post-4" >
          <div class="blog-title">
            <h3>Calatorit</h3>
            <button class="btn btn-blog">Calatorii</button>
            <span>  7 minutes   
            </span>
          </div>
        </div>
        <div class="blog-content">
          <img src="./assets/Blog-post/post-3.jpg" alt="post-3" >
          <div class="blog-title">
            <h3>Sport si Meditatie</h3>
            <button class="btn btn-blog">S&M</button>
            <span>  10 minutes   
            </span>
          </div>
        </div>
      </div>
      <div class="owl-navigation">
        <span class="owl-nav-prev"><i class="fas fa-long-arrow-alt-left"></i></span>
        <span class="owl-nav-next"><i class="fas fa-long-arrow-alt-right"></i></span>
      </div>
    </div>
  </div>
</section>


<!---------CONTINUT SITE----------->


<section class="container">
  <div class="site-content" >
    <div class="posts">
      <div class="post-content" data-aos="fade-up-right" data-aos-delay="100">
        <div class="post-image">
          <div>
            <img src="./assets/Blog-post/blog-post-1.jpg " class="img" alt="blog1" width="750" height="600" >
             
            
          </div>
          <div class="post-info flex-row">
            <span><i class="fas fa-user text-gray">&nbsp;&nbsp;Admin</i></span>
              <span><i class="fas fa-calendar-alt text-gray">&nbsp;Janyary 12,2021</i></span>
              <span >2 Comments</span>
          </div>
        </div>
        <div class="post-title">
          <a href="#" >O poza cu animale foarte draguta</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Consequatur illum officiis facere cumque maiores incidunt 
            odio asperiores suscipit vero tenetur voluptates 
            consequuntur praesentium voluptatum esse velit alias id 
            laborum a iste, explicabo fugiat? Fugiat animi rerum autem 
            labore illum, quo explicabo odio, deleniti officiis quos 
            libero aut rem ad nemo?</p>
           <button class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></button>
        </div>
      </div>
      <hr>
      <div class="post-content" data-aos="fade-up-right" data-aos-delay="100">
        <div class="post-image">
          <div>
            <img src="./assets/Blog-post/blog-post-2.jpg " class="img" alt="blog1" width="750" height="600" >
             
            
          </div>
          <div class="post-info flex-row">
            <span><i class="fas fa-user text-gray">&nbsp;&nbsp;Admin</i></span>
              <span><i class="fas fa-calendar-alt text-gray">&nbsp;Janyary 12,2021</i></span>
              <span >2 Comments</span>
          </div>
        </div>
        <div class="post-title">
          <a href="#" >O poza cu animale foarte draguta</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Consequatur illum officiis facere cumque maiores incidunt 
            odio asperiores suscipit vero tenetur voluptates 
            consequuntur praesentium voluptatum esse velit alias id 
            laborum a iste, explicabo fugiat? Fugiat animi rerum autem 
            labore illum, quo explicabo odio, deleniti officiis quos 
            libero aut rem ad nemo?</p>
           <button class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></button>
        </div>
      </div>
      <hr>
      <div class="post-content" data-aos="fade-up-right" data-aos-delay="100">
        <div class="post-image">
          <div>
            <img src="./assets/Blog-post/blog-post-3.jpg " class="img" alt="blog1" width="750" height="600" >
             
            
          </div>
          <div class="post-info flex-row">
            <span><i class="fas fa-user text-gray">&nbsp;&nbsp;Admin</i></span>
              <span><i class="fas fa-calendar-alt text-gray">&nbsp;Janyary 12,2021</i></span>
              <span >2 Comments</span>
          </div>
        </div>
        <div class="post-title">
          <a href="#" >O poza cu animale foarte draguta</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Consequatur illum officiis facere cumque maiores incidunt 
            odio asperiores suscipit vero tenetur voluptates 
            consequuntur praesentium voluptatum esse velit alias id 
            laborum a iste, explicabo fugiat? Fugiat animi rerum autem 
            labore illum, quo explicabo odio, deleniti officiis quos 
            libero aut rem ad nemo?</p>
           <button class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></button>
        </div>
      </div>
      <hr>
      <div class="post-content" data-aos="fade-up-right" data-aos-delay="100"> 
        <div class="post-image">
          <div>
            <img src="./assets/Blog-post/blog-post-4.jpg " class="img" alt="blog1" width="750" height="600" >
             
            
          </div>
          <div class="post-info flex-row">
            <span><i class="fas fa-user text-gray">&nbsp;&nbsp;Admin</i></span>
              <span><i class="fas fa-calendar-alt text-gray">&nbsp;Janyary 12,2021</i></span>
              <span >2 Comments</span>
          </div>
        </div>
        <div class="post-title">
          <a href="#" >O poza cu animale foarte draguta</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Consequatur illum officiis facere cumque maiores incidunt 
            odio asperiores suscipit vero tenetur voluptates 
            consequuntur praesentium voluptatum esse velit alias id 
            laborum a iste, explicabo fugiat? Fugiat animi rerum autem 
            labore illum, quo explicabo odio, deleniti officiis quos 
            libero aut rem ad nemo?</p>
           <button class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></button>
        </div>
      </div>
      <div class="pagination flex-row" data-aos="fade-up-left" data-aos-delay="100">
        <a href="#" ><i class="fas fa-chevron-left"></i></a>
        <a href="#" class="pages">1</a>
        <a href="#" class="pages">2</a>
        <a href="#" class="pages">3</a>
        <a href="#" ><i class="fas fa-chevron-right"></i></a>

      </div>
    </div>
    <aside class="sidebar">
        <div class="category">
          <h2 >Categorii</h2>
            <ul class="category-list">
              <li class="list-items" data-aos="fade-up-right" data-aos-delay="100">
              <a href="#" >Categorie (1)</a>
              <span>(05)</span>
            </li>
              <li class="list-items" data-aos="fade-up-right" data-aos-delay="100">
              <a href="#" >Categorie (2)</a>
              <span>(02)</span>
            </li>
              <li class="list-items" data-aos="fade-up-right" data-aos-delay="100">
              <a href="#" >Categorie (3)</a>
              <span>(03)</span>
            </li>
              <li class="list-items" data-aos="fade-up-right" data-aos-delay="100">
              <a href="#" >Categorie (4)</a>
              <span>(05)</span>
            </li>
              <li class="list-items" data-aos="fade-up-right" data-aos-delay="100">
              <a href="#" >Categorie (5)</a>
              <span>(01)</span>
            </li>
            </ul>
          </h2>
        </div>
        <div class="popular-post" data-aos="fade-up-right" data-aos-delay="100">
          <h2>Popular post</h2>
          <div class="post-content">
        <div class="post-image" data-aos="fade-up-right" data-aos-delay="100">
          <div>
            <img src="./assets/Blog-post/blog-post-1.jpg " class="img" alt="blog1" width="550" height="200" >
                         
          </div>
          <div class="post-info flex-row">
            
              <span><i class="fas fa-calendar-alt text-gray">&nbsp;Janyary 12,2021</i></span>
              <span >2 Comments</span>
          </div>
        </div>
        <div class="post-title">
          <a href="#" >O poza foarte draguta</a>
                     
        </div>
      </div>
        
               <div class="post-content" data-aos="fade-up-right" data-aos-delay="100">
      <div class="post-image">
        <div>
          <img src="./assets/Blog-post/side-bag-populat-1.jpg " class="img" alt="blog1" width="550" height="200" >
                       
        </div>
        <div class="post-info flex-row">
          
            <span><i class="fas fa-calendar-alt text-gray">&nbsp;Janyary 12,2021</i></span>
            <span >2 Comments</span>
        </div>
      </div>
      <div class="post-title">
        <a href="#" >O poza cu foarte mult rosu</a>
                   
      </div>
    </div>
    
    </div>
    <div class="newsletter" data-aos="fade-up-right" data-aos-delay="100">
      <h2>Newsletter</h2>
      <div class="form-element">
        <input type="text" class="input-elemnt" placeholder="Email">
        <button class="btn form-btn">Subscribe</button>
      </div>
    </div>
      <div class="popular-tags" data-aos="fade-up-right" data-aos-delay="100">
        <h2>Popular Tags</h2>
        <div class="tags flex-row">
          <span class="tag">Sport</span>
          <span class="tag">Food</span>
          <span class="tag">Books</span>
        </div>
      </div> 

    </aside>
  </div>
  </div>
</section>





<!--X------CONTINUT SITE--------X-->
   </main>




   <!--         X         MAIN SITE        X      -->





   <!----------Footer---------->
   <footer class="footer">
     <div class="container">
       <div class="about-us">
         <h2>About Me</h2>
         <p >Lorem ipsum dolor sit amet consectetur 
           adipisicing elit. Debitis maiores vero dicta fuga sunt 
           voluptas aliquam. Asperiores minus qui laudantium.</p>
       </div>
       <div class="newsletter">
        <h2>Newsletter</h2>
        <p>Stay update with our latest</p>
        <div class="form-element">
          <input type="text" placeholder="Email"><span><i class="fas fa-chevron-right"></i></span>
        </div>
       </div>
       <div class="Instagram">
        <h2>Instagram</h2>
        <div class="flex-row">
          <img src="./assets/instagram/1.jpg" alt="insta1">
          <img src="./assets/instagram/2.jpg" alt="insta2">
          <img src="./assets/instagram/3.jpg" alt="insta3">
        </div>
        <div class="flex-row">
          <img src="./assets/instagram/4.jpg" alt="insta4">
          <img src="./assets/instagram/5.jpg" alt="insta5">
          <img src="./assets/instagram/6.jpg" alt="insta6">
        </div>
       </div>
       <div class="follow">
         <h2>Follow Me</h2>
         <p>Un paragraf foarte interesant</p>
         <div>
           <i class="fab fa-facebook-f"></i>
           <i class="fab fa-instagram"></i>
           <i class="fab fa-youtube"></i>
                    </div>
       </div>
     </div>
     <!--COPYRIGHT-->
     <div class="rights flex-row">
       <h4 class="text-gray"> .</h4>
     </div>
     <div class="move-up"><span><i class="fas fa-arrow-circle-up fa-2x"></i></span></div>
   </footer>
   <!---X------Footer----X----->
   
   <!--JQuerry-->
   <script src="./js/Jquery.min.js"></script>

   <!--AOS js Lib-->

   <script src="./js/aos.js"></script>

   <!--OwlCarousel-->
   <script src="./js/owl.carousel.min.js"></script>
   <!--JS-->
    <script src="./js/main.js"></script>
    </body>
    </html>
